html
  head
    script(src='/javascripts/vendor/jquery.js')
    script(src='/javascripts/app.js')

    script.
      $(document).ready(function(){
        $("#password").keypress(function(event){
          var keycode = (event.keyCode ? event.keyCode : event.which);
          if(keycode == '13'){  //Enter key pressed
              $("#submit").click();//Trigger search button click event
          }
        });
        $("#submit").click(function(){
          if($("#email").val()=="")
          {
              $("#email").focus();
              return false;
          }
          if($("#password").val()=="")
          {
              $("#password").focus();
              return false;
          }
          var adminID = { email : $("#email").val(), password : $("#password").val() };
          $.ajax({
              url:"http://takraexpress.herokuapp.com/auth/sign_in",
              type:"POST",
              dataType: "json",
              contentType: "application/json",
              cache:false,
              data: JSON.stringify(adminID),
              success: function(res, status, jqXHR) {
                  var header = jqXHR.getResponseHeader("Access-token");
                  console.log(header);
                  console.log(jqXHR.getAllResponseHeaders());
                  console.log(adminID.email);
                  window.location.href="/product";
              },
              error:function(jqXHR, textStatus, errorThrown)
              {
                  alert(jqXHR + textStatus + errorThrown);
                  console.log(adminID.email);
              }
          });
        });
      });

  body
    | Email:
    input#email(type='text', value='')
    br
    |          Password:
    input#password(type='text', value='')
    button#submit Log in
