block footer
  footer.site-footer(role='contentinfo')
    .row
      .small-12.medium-3.large-3.columns
        h3 Corporate info
        ul.no-bullet
          li
            a(href='#') Corporate governance policies
          li
            a(href='#') Information for investors
          li
            a(href='#') Invitation to tender
      .small-12.medium-3.large-3.columns
        h3 Media
        ul.no-bullet
          li
            a(href='#') News releases
          li
            a(href='#') Multimedia library
      .small-12.medium-3.large-3.columns
        h3 Careers
        ul.no-bullet
          li
            a(href='#') Why join SIA?
          li
            a(href='#') Cabin Crew
          li
            a(href='#') Pilots
          li
            a(href='#') SIA Executives Programme
          li
            a(href='#') Ground Professionals
          li
            a(href='#') Scholarships & Internships
      .small-12.medium-3.large-3.columns
        h3 Support
        ul.no-bullet
          li
            a(href='#') Contact us
          li
            a(href='#') Feedback
          li
            a(href='#') FAQs
          li
            a(href='#') Privacy policy
          li
            a(href='#') Terms and conditions
