block menutab
  div.off-canvas.position-left#offcanvas(data-off-canvas='')
    ul.menu.vertical
      li
        a(onclick="window.location.href='/product'") Promotion
      li
        a(href="#") Health &amp; Nutrition
      li
        a(href="#") Beauty
      li
        a(href="#") Clothes
      li
        a(href="#") Home Store
      li
        a(href="#") Electronics
      li
        a(href="#") Partner Stores
      li
        a(href="#") All Departments
    button.close-button(aria-label="Close menu" type="button" data-close)
      span(aria-hidden="true")&times;
