extends layout
block content
    .off-canvas-wrapper-inner(data-off-canvas-wrapper='')
        include menutab
        div.offf-canvas-content(data-off-canvas-content)
          include titlebar

          h1 รายการผลิตภัณฑ์
          section.striped(role='itemfreq')
              .row.small-up-1.medium-up-2.large-up-3(data-equalizer='', data-equalize-by-row='true')
                - each item, i in data

                  .columns
                    .callout
                      center
                        a(href='#')
                          img(src=item.product_pic, alt='Local food' height="233" width="233")
                      .caption.text-left
                        br
                        .row.columns
                          h3= item.product_name
                        .row
                          .small-4.medium-5.large-5.columns
                            h3(style="margin-top:7px;") จำนวน
                          .small-2.medium-2.large-2.columns
                            a.button.secondary -
                          .small-2.medium-2.large-2.columns
                            h4(style="margin-top:10px;")= item.product_stock
                          .small-3.medium-2.large-2.columns
                            a.button.secondary +
                        .row.columns
                          center
                            a.button บันทึกค่า

    script(src='/javascripts/vendor/jquery.js')
    script(src='/javascripts/vendor/what-input.js')
    script(src='/javascripts/vendor/foundation.js')
    script(src='/javascripts/app.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js")
    script.
      $(document).ready(function() {
        $('a').on('click', function(e) {
          e.preventDefault();
        });
      });

    script.
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: ['M', 'T', 'W', 'T', 'F', 'S', 'S'],
        datasets: [{
          label: 'apples',
          data: [12, 19, 3, 17, 6, 3, 7],
          backgroundColor: "rgba(153,255,51,0.4)"
        }, {
          label: 'oranges',
          data: [2, 29, 5, 5, 2, 3, 10],
          backgroundColor: "rgba(255,153,0,0.4)"
        }]
      }
      });
      var ctx = document.getElementById("myChartbar").getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["M", "T", "W", "R", "F", "S", "S"],
          datasets: [{
            label: 'apples',
            data: [12, 19, 3, 17, 28, 24, 7],
            backgroundColor: "rgba(153,255,51,0.4)"
          }, {
            label: 'oranges',
            data: [30, 29, 5, 5, 20, 3, 10],
            backgroundColor: "rgba(255,153,0,0.4)"
          }]
        }
      });
