block titlebar
  div.title-bar(style="background:#330003")
    div.title-bar-left
      button.menu-icon(type="button" data-open="offcanvas" style="margin-top:-5px;")
      span.title-bar-title
        h2(style="margin-top:2px;") Takraexpress
